%html{ lang: I18n.locale }
  %head
    %meta{ content: "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    -# haml-lint:disable NoPlainNodes
    %title
      GitLab
    -# haml-lint:enable NoPlainNodes
    - if Feature.enabled?(:enhanced_notify_css)
      = universal_stylesheet_link_tag 'notify_enhanced'
      %style{ type: 'text/css', 'data-premailer': 'ignore' }
        -# The MUA automatically turns some text into links.
        -# Match the color of explicit links ($blue-600 from typography.scss).
        a { color: #1068bf; }
    - else
      = universal_stylesheet_link_tag 'notify'
    = yield :head
  %body
    = html_header_message
    .content
      = yield
    .footer{ style: "margin-top: 10px;" }
      %p
        &mdash;
        %br
        = link_to "Unsubscribe", @unsubscribe_url

        = render_if_exists 'layouts/email_additional_text'
        = html_footer_message
